/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    background-image: -webkit-gradient( linear, left top, left bottom, from( #f2f2f2 ), to( #ffffff ) );
}

/* Style the buttons inside the tab */
.tab span {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 13px;
}

/* Change background color of buttons on hover */
.tab span {
    /*background-color: #ddd;*/
}

/* Create an active/current tablink class */
.tab span.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left:10px;
    margin-right:10px;
}

.headerCols {
	padding-left:8px;
	padding-right:8px;
	border-bottom: 1px solid #ccc;
}